ul.definition {
    margin-bottom: 0.8em;
    margin-left: 1em;
}

li.definition-group-item {
    font-size: 16px;
    line-height: 20px;
    padding: 8px;
    position: relative;
    display: block;
    margin-bottom: -1px;
    margin-left: 1em;
}

ul.example {
    margin-top: 10px;
}

li.example-group-item {
    line-height: 20px;
    display: block;
    padding: 2px;
    margin-bottom: 10px;
    border-left: solid 4px #5CB85C;
}

p.annotation {
    font-size: 16px;
    padding: 5px;
}

p.def {
    padding-left: 10px;
}

p.translation {
    font-size: 14px;
    color: #777;
    padding-left: 5px;
}

.definition-index {
    font-size: 16px;
    line-height: 20px;
    padding: 8px;
}

li > vocab {
    font-weight: bold;
}

p > vocab {
    color: #4275BA;
}

span.posp {
    margin-right: 5px;
    color: #FF7E00;
}

p.def {
    margin: 0px;
}


a.webster:link {
  color: #1077BC;
}

a.webster:hover {
  color: #FF9900;
  text-decoration: none;
}

a.webster:active {
  color: #FF6699;
  text-decoration: none;
}

a.webster:visited {
  color: #FF6699;
}
